@require '../mixin/vendor'

iu-checkbox-width = 13px
iu-checkbox-height = 13px

iu-checkbox-background(checked, disabled)
    if checked
        $y = -(iu-checkbox-height)
    else
        $y = 0
    if disabled
        $x = -(iu-checkbox-width)
    else
        $x = 0
    background-image url('img/checkbox.png')
    background-repeat no-repeat
    background-position $x $y

[iu-checkbox]
    display inline-block
    user-select none
    width iu-checkbox-width
    height iu-checkbox-height
    vertical-align middle
    iu-checkbox-background(false, false)
    &[checked]
        iu-checkbox-background(true, false)
    &[disabled]
        iu-checkbox-background(false, true)
    &[checked][disabled]
        iu-checkbox-background(true, true)
