@require '../mixin/vendor'

iu-radio-width = 13px
iu-radio-height = 13px

iu-radio-background(checked, disabled)
    if checked
        $y = -(iu-radio-height)
    else
        $y = 0
    if disabled
        $x = -(iu-radio-width)
    else
        $x = 0
    background-image url('img/radio.png')
    background-repeat no-repeat
    background-position $x $y

[iu-radio]
    display inline-block
    user-select none
    width 13px
    height 13px
    vertical-align middle
    iu-radio-background(false, false)
    &[checked]
        iu-radio-background(true, false)
    &[disabled]
        iu-radio-background(false, true)
    &[checked][disabled]
        iu-radio-background(true, true)
